@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease all;
    font-family: "Poppins", sans-serif;
    transition: 0.5s all ease;
}

body {
    background-color: black;
    color: white;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    background-image: url(https://i.pinimg.com/564x/ec/6d/1c/ec6d1c9d422344856f407a18adcc767e.jpg);
    background-size: cover;
    background-position: center;
    max-width: 98vw;
    margin: 0.3rem auto;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    border-style: groove;
}

.box img {
    width: 100%;
}

.box {
    border: 4px solid black;
    border-radius: 10px;
    width: 256px;
    padding: 20px;
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 3px black;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.pokeball {
    display: none;
}

.pokeball {
    width: 32px;
}

.pokeball img {
    width: 100%;
}

.box p {
    display: none;
}


.bellsprout {
    background-color: #FFF800;
}

.bulbasaur {
    background-color: #47C67B;
}

.caterpie {
    background-color: #CC549E;
}

.charmander {
    background-color: #F77819;
}

.dratini {
    background-color: #42B1E8;
}

.eevee {
    background-color: #C4833D;
}

.jigglypuff {
    background-color: #D685AD;
}

.meowth {
    background-color: #EAE4C5;
}

.pidgey {
    background-color: #E29C37;
}

.pikachu {
    background-color: #FFD400;
}

.rattata {
    background-color: #A962E8;
}

.squirtle {
    background-color: #3cc9c2;
}

@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        background-position: left top;
    }

    .box {
        width: 100%;
        padding: 10px 10px;
        border: 5px solid black;
        border-radius: 10px;
    }

    .box img {
        width: 128px;
    }

    .box p {
        display: contents;
    }

    .box .pokeball {
        display: contents;
    }

    .pokeball img {
        width: 64px;
    }

    .box p {
        font-size: 3rem;
    }

    .box:hover {
        background-image: url(./img/7952850.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 700px) {
    .pokeball img {
        display: none;
    }

    .box {
        flex-direction: column;
        gap: 0;
    }

    .box img {
        width: 256px;
    }

    .box p {
        font-size: 2.5rem;
    }


    .box:hover {
        background-image: url(./img/6833725.png);
        background-size: cover;
        background-position: center;
    }
}
