* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 90vw;
    margin: 1rem auto;
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    border-radius: 1rem;
    text-align: center;
    margin: 0.5rem 1rem;
    vertical-align: top;
    border-width: 10px;
    height: auto;
    box-shadow: 10px 10px 10px black;
}

.image {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c1cfff2-db8d-44cd-8a13-cb2a4162fae6/dd2zouo-047f7b3f-b895-43ac-82a4-abb6ca12c52a.png/v1/fill/w_1192,h_670,q_70,strp/pokemon_wallpaper___poke_ball_theme_by_0trinima0_dd2zouo-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzdjMWNmZmYyLWRiOGQtNDRjZC04YTEzLWNiMmE0MTYyZmFlNlwvZGQyem91by0wNDdmN2IzZi1iODk1LTQzYWMtODJhNC1hYmI2Y2ExMmM1MmEucG5nIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.XS1rQqBUlisxOaqqd4gkDEhK68OInxjd-LRQ46yArEI");
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media (max-width: 768px) 
{
    .card {
        display: block;
        width:300px;
        margin: 12px;

        margin: 12px;
        width: 300px;
        height: 100px;
    }
    }
}


img {
    filter: drop-shadow(10px 10px 5px #222);
    object-fit: cover;
    object-position: bottom;
    width: 100%;

}

.bgimage {
    max-width: 150px;
    height: 150px;
    background-image: url("bg.jpg");
}



h1 {
    padding: 0.2rem 0.8rem;
    text-shadow: 4px 4px 5px black;
    color: white;

}

.type,
.type1,
.type2 {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.desc {
    color: white;
    text-align: justify;
    margin: 0.2rem;
    line-height: 1.2;
    padding: 0 1.2rem;
}

.buttons {
    margin-top: 0.8rem;
    text-align: center;
    padding: 0 0.8rem;
    display: inline-block;
}

button {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    margin: 0.2rem 0.5rem;
    color: white;
    transition: 0.5s ease;
}

button:hover {
    background-color: black;
}

.add {
    background-color: rgb(6, 128, 228);
}

.release {
    background-color: crimson;
}

.card:hover {
    background-color: white;
}

.details {
    padding: 0.8rem 0;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.palevioletred {
    background-color: palevioletred;
}

.goldenrod {
    background-color: goldenrod;
}

.brown {
    background-color: rgb(122, 30, 30);
    
}

.psychic {
    background-color: pink;
}

.dark {
    background-color: brown;
}

.flying {
    background-color: lightblue;
}

.aquablue {
    background-color: rgb(144, 233, 203);
}

.ice {
    background-color: rgb(142, 228, 228);
}

.electric {
    background-color: gold;
}

.fire {
    background-color: red;

}

.fairy {
    background-color: rgb(202, 90, 202);

}

.water {
    background-color: rgb(61, 145, 201);
   
}

.royalblue {
    background-color: rgb(16, 110, 173);
}

.img {

    margin: 12px;
    width: 300px;
    height: 100px;
}
